* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 1rem 0;
}

#delirium-header {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 2rem;
  color: white;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin: 0 2rem 0 0;
}

.header-link a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 0.1s ease;
}

.header-link a:hover {
  text-decoration: underline;
  color: rgb(255, 28, 142);
}

.header-link a:active {
  color: #ff6eb4;
  transform: scale(0.95);
}

.section-1 {
  height: 40vh;
  background-color: #333;
  color: white;
  text-align: center;
}

.title {
  padding: 1.2em;
  background: linear-gradient(90deg, #ff542a, #ffd1ad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.section-2 {
  height: 40vh;
  background: linear-gradient(90deg, #ff454c, #ff977a);
  color: rgb(227, 227, 227);
}

.h3-heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 1em;
}

.h3-text {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.section-3 {
  height: 40vh;
  background: linear-gradient(90deg, #c2e9fb, #a1c4fd);
}

