* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}



.header-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    margin: 0 2rem 0 0;
}